header {
  background-image: url(../images/home-bg.jpg);
  background-position: center center;
  background-size: cover;
}
.container1 {
  width: 85%;
  margin: auto;
}
.navbar-brand .col-md-6 .text-white {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
}
.homeBtn::after {
  position: absolute;
  bottom: 0px;
  left: 8px;
  width: 60%;
  height: 2px;
  content: "";
  background-color: white;
}
/* .navBtn {
  position: relative;
} */
/* .navBtn::after {
  position: absolute;
  bottom: 0px;
  left: 8px;
  width: 60%;
  height: 2px;
  content: "";
  background-color: white;
} */
#homeHeader h1,
h2 {
  color: "white";
  text-align: center;
  color: white;
}
#homeHeader h1 {
  margin-top: 30vh;
  font-size: 4.5rem;
}
#homeHeader h2 {
  font-size: 2.5rem;
}
#portfolio h3 {
  font-size: 3rem;
  color: #1e1e1e;
  font-weight: bold;
}
.portfolio-sub-title {
  color: #4e4e4e;
  position: relative;
}
.portfolio-sub-title::after {
  content: "";
  background-color: #0078ff;
  position: absolute;
  left: 48%;
  top: 150%;
  height: 5px;
  width: 3.5rem;
}
.avatar {
  width: 32px;
}
